<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light p-0 mb-0" >
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link text-primary" href="/">Home</a>
                    <a class="nav-link text-primary" href="/dashboard">Dashboard</a>
                    {{#if logged_in}}
                    <a id="logout" class="nav-link text-primary" role="button">Logout</a>
                    {{else}}
                    <a class="nav-link text-primary" href="/api/users/login">Login</a>
                    {{/if}}
                </div>
            </div>
        </div>
    </nav>
</div>